@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HoltwoodOneSC;
  src: url(../fonts/Holtwood_One_SC/HoltwoodOneSC-Regular.ttf);
}

.HoltwoodOneSC {
  font-family: HoltwoodOneSC;
}